/*Resets*/
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Defautls*/
html,body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Utility Classes*/

.container {
    max-width: 400px;
    margin: auto;
    position: relative;
    align-items: center;
    background-color: rgb(39, 39, 39);
}


.row {
    display: flex;
    width: 100%;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

.ad-mockup {
    width: 70%;
    margin: 0 auto;
    background-color: burlywood;
    min-height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.speed-dial {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

/*Speed Dial Section*/

.speed-dial .row a img {
    margin: 10px;
}

.social-icons {
    margin: auto;
    width:100%;
}

.social-icons a {
    text-decoration: none;
}

/*Nav bar*/

.nav-bar {
    width: 100%;
    height: 65px;
    background-color: rgb(245, 130, 145);
    top: 0;
    position: sticky;
    margin-bottom: 10px;
}

.nav-bar ul li {
    list-style: none;
    float: left;
}

.nav-bar ul li a {
    text-decoration: none;
    text-align: center;
    color:rgb(80, 80, 80);
    display: block;
}

.nav-bar ul li a i {
    font-size: 30px;
    text-align: center;
    padding-top: 16px;
    padding-left: 40px;
}